.banner {
	position: relative;
	overflow: hidden;
	z-index: 0;
	height: 800px;
	padding-top: 104px;
	padding-bottom: 200px;
	background: radial-gradient(112.11% 111.8% at 100% 0%, #4075ff 0%, rgba(64, 117, 255, 0) 100%),
		radial-gradient(111.72% 111.46% at 27% 0%, #16d9a6 0%, rgba(22, 217, 166, 0) 100%), green;

	@media (max-width: 1460px) {
		height: 680px;
	}

	@media (max-width: 1170px) {
		height: 600px;
	}

	@media (max-width: 940px) {
		height: 500px;
	}

	@media (max-width: 760px) {
		height: 800px;
		padding-top: 40px;
	}

	@media (max-width: 380px) {
		height: 690px;
	}

	&__container {
		position: relative;
		.tagline {
			display: inline-block;
			background-color: #e8e9ea;
			color: #2a323f;
			font-size: 60px;
			font-weight: 700;
			line-height: 62px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 0px 3.861px 0 0;
		}
		.banner__title {
			font-size: 268px;
		}
	}

	&__slider {
		overflow: hidden;
		position: absolute !important;
		height: auto;
		top: 0;
		right: 0;
		left: 245px;
		-webkit-overflow-scrolling: touch;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;

		@media (max-width: 1460px) {
			left: 0;
		}

		@media (max-width: 1215px) {
			left: 150;
		}

		@media (max-width: 990px) {
			top: 35px;
			left: 100px;
		}

		@media (max-width: 940px) {
			top: -20px;
			left: 50px;
		}

		@media (max-width: 760px) {
			padding-top: 160px !important;
			top: 170px;
			left: -130px;
			overflow-y: auto !important;
		}

		@media (max-width: 380px) {
			top: 95px;
		}

		&__slide {
			position: relative;
			width: 190px !important;

			@media (max-width: 1460px) {
				width: 150px !important;
			}

			@media (max-width: 990px) {
				width: 110px !important;
			}

			&__img {
				width: auto;
				max-width: 600px;
				height: 1000px;

				@media (max-width: 1460px) {
					width: 405px;
					height: 800px;
				}

				@media (max-width: 990px) {
					width: 305px;
					height: 480px;
				}
			}

			&__popup {
				cursor: auto;
				display: flex;
				align-items: stretch;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: calc(54% + 8px);
				left: -70px;
				right: 27px;
				padding: 12px;
				border-radius: 12px;
				background-color: #3d4555;
				transition:
					opacity 0.2s ease-in-out,
					visibility 0.2s ease-in-out;

				@media (max-width: 1460px) {
					top: calc(46% + 15px);
					left: -88px;
					right: 8px;
				}

				@media (max-width: 990px) {
					top: calc(54% + 25px);
					left: -115px;
					right: -3px;
				}

				@media (max-width: 760px) {
					top: -95px;
					left: 0px;
					right: -120px;
				}

				&__arrow {
					position: relative;
					display: block;

					&::before {
						position: absolute;
						top: -20px;
						left: 196px;
						content: "";
						width: 14px;
						height: 8px;
						background-image: url(/img/popup-arrow.svg);
						background-repeat: no-repeat;
						background-position: center center;

						@media (max-width: 1460px) {
							left: 194px;
						}

						@media (max-width: 990px) {
							left: 191px;
						}

						@media (max-width: 760px) {
							top: auto;
							bottom: -20px;
							transform: rotate(180deg);
						}
					}
				}

				&__img {
					width: 72px;
					height: 72px;
					margin-right: 8px;
				}

				&__inner {
					margin: 0;
					display: flex;
					flex-direction: column;
					align-items: self-start;
				}

				&__title {
					min-width: 142px;
					margin-bottom: 6px;
					color: #e8e9ea;
					font-weight: 700;
					line-height: 20px;

					@media (max-width: 760px) {
						max-width: 142px;
					}
				}

				&__price {
					color: #16d9a6;
				}
			}
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 15px;
		position: relative;

		&__subtitle {
			position: absolute;
			top: 45px;
			left: 187px;
			color: #e8e9ea;
			font-size: 22px;
			font-weight: 400;

			@media (max-width: 1170px) {
				top: 45px;
				left: 115px;
			}

			@media (max-width: 940px) {
				font-size: 18px;
				top: 40px;
				left: 85px;
			}

			@media (max-width: 715px) {
				font-size: 16px;
				top: 17px;
				left: 56px;
			}

			@media (max-width: 490px) {
				top: 10px;
				left: 64px;
			}
		}
		&__subtitle_lang {
			left: 125px;
			top: 25px;

			@media (max-width: 1170px) {
				top: 15px;
				left: 95px;
			}

			@media (max-width: 940px) {
				top: 10px;
				left: 65px;
			}

			@media (max-width: 715px) {
				top: -3px;
				left: 43px;
			}

			@media (max-width: 490px) {
				top: -9px;
			}
		}

		&__text {
			color: #e8e9ea;
			font-size: 260px;
			font-weight: 700;
			position: absolute;

			@media (max-width: 1540px) {
				font-size: 200px;
				top: 35px;
			}

			@media (max-width: 1170px) {
				font-size: 160px;
				top: 45px;
			}

			@media (max-width: 940px) {
				font-size: 120px;
				top: 35px;
			}

			@media (max-width: 715px) {
				font-size: 76px;
			}

			@media (max-width: 475px) {
				font-size: 62px;
			}

			@media (max-width: 380px) {
				font-size: 52px;
			}
		}
	}
	&__subtitle {
		position: relative;
		display: inline-block;

		@media (max-width: 715px) {
			margin-bottom: 25px;
		}

		@media (max-width: 490px) {
			margin-bottom: 45px;
		}

		@media (max-width: 380px) {
			margin-bottom: 30px;
		}

		&__rect {
			position: absolute;
			bottom: -27px;
			right: 0;
			width: 45px;
			height: 27px;
			background-image: url("/img/subtitle-rect.svg");
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	&__subtitle span {
		display: inline-block;
		background-color: #e8e9ea;
		color: #2a323f;
		font-size: 60px;
		font-weight: 700;
		line-height: 62px;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 0px 3.861px 0px 0px;

		@media (max-width: 940px) {
			font-size: 48px;
			padding-left: 10px;
			padding-right: 10px;
			line-height: 52px;
		}

		@media (max-width: 475px) {
			font-size: 42px;
		}

		@media (max-width: 380px) {
			line-height: 32px;
			font-size: 32px;
		}
	}

	&__subtitle span:first-child {
		padding-top: 4px;

		@media (max-width: 940px) {
			padding-top: 0;
		}
	}

	&__subtitle span:last-child {
		padding-bottom: 8px;

		@media (max-width: 940px) {
			padding-bottom: 0;
		}
	}
}

.ad {
	position: absolute;
	top: -80px;
	right: 15px;
	padding: 4px 32px 4px 12px;
	height: 28px;
	line-height: 24px;
	background-image: url("/img/info-icon.svg");
	background-repeat: no-repeat;
	background-position: right 2px center;
	color: #a5a8ad;
	font-size: 14px;
	font-weight: 500;
	border-radius: 30px;
	background-color: rgba(16, 24, 40, 0.4);

	@media (max-width: 760px) {
		top: -20px;
	}
}

.categories {
	padding-top: 80px;
	padding-bottom: 30px;

	@media (max-width: 800px) {
		padding: 40px 0;
	}

	@media (max-width: 490px) {
		padding: 20px 0;
	}

	&__title {
		@media (max-width: 800px) {
			margin-bottom: 32px !important;
			font-size: 36px !important;
		}

		@media (max-width: 490px) {
			margin-bottom: 15px !important;
			font-size: 32px !important;
		}
	}

	&__inner {
		position: relative;
		display: flex;
		align-items: stretch;

		@media (max-width: 680px) {
			flex-direction: column;
		}
	}

	&__right {
		min-width: 50%;
		max-height: 600px;
		margin-right: 32px;
		transition: background-color 0.2s ease-in-out;

		@media (max-width: 1100px) {
			margin-right: 16px;
		}

		@media (max-width: 680px) {
			margin-right: 0;
			margin-bottom: 16px;
		}

		@media (max-width: 490px) {
			display: none;
		}
	}

	&__left {
		max-height: 600px;
		overflow: hidden;
		@media (max-width: 490px) {
			display: none;
		}

		&__top {
			display: flex;
			align-items: flex-start;
			margin-bottom: 32px;
			max-height: 50%;
			overflow: hidden;
			@media (max-width: 1100px) {
				margin-bottom: 16px;
			}

			&__right {
				margin-right: 32px;

				@media (max-width: 1100px) {
					margin-right: 16px;
				}
			}
		}
		&__bottom {
			overflow: hidden;
			// max-height: 50%;
			min-width: 100%;
		}
	}

	&__img {
		display: block;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		transition: border-radius 0.2s ease-in-out;

		@media (max-width: 800px) {
			border-radius: 26px 0 0 0;
		}

		img {
			width: 100%;
			height: 100%;
			margin-bottom: -4px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent;
			transition: background-color 0.2s ease-in-out;

			@media (max-width: 800px) {
				background: linear-gradient(180deg, rgba(16, 24, 40, 0) 41.43%, rgba(16, 24, 40, 0.8) 109.57%);
			}
		}

		&:hover::before {
			transition: background-color 0.2s ease-in-out;
			background-color: rgba(16, 24, 40, 0.55);

			@media (max-width: 800px) {
				background: transparent;
			}
		}

		&:hover {
			border-radius: 26px 0 0 0;
			transition: border-radius 0.2s ease-in-out;
		}

		span {
			position: absolute;
			opacity: 0;
			top: 0;
			left: 0;
			color: #e8e9ea;
			font-size: 22px;
			font-weight: 400;
			border-radius: 26px 0px 26px 0px;
			padding: 16px 32px;
			background-color: #565c66;
			box-shadow:
				0px 2px 4px 0px rgba(0, 0, 0, 0.2),
				0px 0px 8px 0px rgba(0, 0, 0, 0.1);
			transition: opacity 0.2s ease-in-out;

			@media (max-width: 800px) {
				padding: 8px 24px;
				font-size: 16px;
				opacity: 1;
			}
		}

		&:hover span {
			transition: opacity 0.2s ease-in-out;
			opacity: 1;
		}
	}

	&__slider {
		display: block;
	}

	&__slide {
		img {
			height: 357px;

			@media (max-width: 420px) {
				width: 100%;
				height: 290px;
			}
		}
	}
}

.img_loading {
	background-color: #2a323f;
	pointer-events: none;
}

.all {
	position: absolute;
	right: 0;
	top: -65px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding-right: 25px;
	transition: color 0.2s ease-in-out;

	@media (max-width: 490px) {
		top: -42px;
	}

	span {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -3px;
			right: -55px;
			width: 24px;
			height: 24px;
			background-color: #e8e9ea;
			-webkit-mask: url(/img/all-arrw.svg) no-repeat 50% 50%;
			mask: url(/img/all-arrw.svg) no-repeat 50% 50%;
			transition: background-color 0.2s ease-in-out;
		}
	}

	&:hover span::before {
		background-color: green;
		transition: background-color 0.4s ease-in-out;
	}

	&:hover {
		color: green;
		transition: color 0.2s ease-in-out;
	}
}
